In [155]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## Import all the things, then read all the things

In [156]:
respondent = pd.read_csv('data/atusresp_2014.dat')
respondent

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20140101140007,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,-1,0,0,-1
1,20140101140011,1,2014,1,-1,-1,-1,500,-1,1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
2,20140101140028,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
3,20140101140063,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20140101140168,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,-1,0,0,-1
5,20140101140537,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
6,20140101140559,1,2014,1,-1,-1,2000,-1,40,1,...,0,0,0,0,0,0,-1,0,0,-1
7,20140101140610,1,2014,1,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
8,20140101140614,1,2014,1,-1,-1,966,-1,15,1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
9,20140101140639,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
10,20140101140665,1,2014,1,-1,-1,-1,-1,-1,2,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11,20140101140685,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
12,20140101140702,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,-1,0,0,-1
13,20140101140725,1,2014,1,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
14,20140101140759,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
15,20140101140792,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
16,20140101140804,1,2014,1,-1,4046,1579,-1,40,1,...,0,0,0,0,0,0,-1,0,0,-1
17,20140101140836,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
18,20140101140852,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
19,20140101140854,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
20,20140101140872,1,2014,1,-1,-1,-1,2600,-1,1,...,0,0,0,0,0,0,-1,0,0,-1
21,20140101140875,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
22,20140101140876,1,2014,1,-1,-1,1000,-1,20,1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
23,20140101140885,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
24,20140101140911,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
25,20140101140940,1,2014,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
26,20140101140958,1,2014,1,-1,-1,900,-1,40,1,...,0,0,0,0,0,0,-1,0,0,-1
27,20140101140967,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
28,20140101140973,1,2014,1,-1,-1,1400,-1,40,1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
29,20140101140990,1,2014,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11562,20141212142154,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11563,20141212142164,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11564,20141212142168,1,2014,12,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11565,20141212142172,1,2014,12,4,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
11566,20141212142199,1,2014,12,-1,-1,1277,-1,42,1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11567,20141212142201,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11568,20141212142204,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11569,20141212142215,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11570,20141212142236,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
11571,20141212142238,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
11572,20141212142263,1,2014,12,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11573,20141212142273,1,2014,12,-1,-1,700,-1,28,1,...,-1,-1,0,0,0,0,0,-1,-1,-1
11574,20141212142288,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11575,20141212142311,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11576,20141212142318,1,2014,12,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11577,20141212142361,1,2014,12,-1,-1,955,-1,40,1,...,-1,-1,0,0,0,0,-1,0,0,-1
11578,20141212142393,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,-1,0,0,0,0,0,0,0,-1
11579,20141212142397,1,2014,12,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11580,20141212142398,1,2014,12,-1,-1,800,-1,40,1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11581,20141212142400,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11582,20141212142422,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11583,20141212142441,1,2014,12,-1,-1,-1,1000,-1,1,...,0,-1,-1,0,0,-1,-1,-1,-1,-1
11584,20141212142461,1,2014,12,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11585,20141212142462,1,2014,12,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
11586,20141212142470,1,2014,12,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11587,20141212142472,1,2014,12,4,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
11588,20141212142476,1,2014,12,-1,-1,1100,-1,40,1,...,0,0,-1,1,1,-1,-1,-1,-1,-1
11589,20141212142480,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
11590,20141212142484,1,2014,12,-1,-1,-1,1250,-1,1,...,-1,-1,0,0,0,0,0,-1,-1,-1
11591,20141212142500,1,2014,12,-1,-1,-1,-1,-1,-1,...,0,0,0,0,0,0,-1,0,0,-1

In [157]:
roster = pd.read_csv('data/atusrost_2014.dat')
roster

             TUCASEID  TULINENO  TEAGE  TERRP  TESEX  TXAGE  TXRRP  TXSEX
0      20140101140007         1     20     19      2      0      0      0
1      20140101140007         2     19     21      1      0      0      0
2      20140101140007         3      0     22      1      0      0      0
3      20140101140011         1     16     18      2      0      0      0
4      20140101140011         2     33     24      2      0      0      0
5      20140101140028         1     65     18      2      0      0      0
6      20140101140028         2     38     28      1      0      0      0
7      20140101140028         3     36     22      2      0      0      0
8      20140101140028         5      5     23      2      0      0      0
9      20140101140028         6     13     23      1      0      0      0
10     20140101140028         7      2     23      1      0      0      0
11     20140101140063         1     50     19      2      0      0      0
12     20140101140168         1     23     18      2      0      0      0
13     20140101140168         2      8     22      2      0      0      0
14     20140101140537         1     85     18      1     60      0      0
15     20140101140537         2     62     22      1      0      0      0
16     20140101140559         1     27     18      1      0      0      0
17     20140101140559         2     25     20      2      0      0      0
18     20140101140559         3      1     22      2      0      0      0
19     20140101140610         1     28     18      1      0      0      0
20     20140101140610         2     29     20      2      0      0      0
21     20140101140610         3      0     22      2      0      0      0
22     20140101140614         1     63     19      2      0      0      0
23     20140101140639         1     85     19      1     60      0      0
24     20140101140665         1     66     18      2      0      0      0
25     20140101140665         2     66     20      1      0      0      0
26     20140101140685         1     54     19      1      0      0      0
27     20140101140685         2     58     28      1      0      0      0
28     20140101140702         1     31     18      2      0      0      0
29     20140101140702         2      8     22      2      0      0      0
...               ...       ...    ...    ...    ...    ...    ...    ...
31169  20141212142400         1     79     18      1      0      0      0
31170  20141212142400         2     78     20      2      0      0      0
31171  20141212142422         1     65     18      1      0      0      0
31172  20141212142422         2     62     20      2      0      0      0
31173  20141212142441         1     70     18      1      0      0      0
31174  20141212142441         2     65     20      2      0      0      0
31175  20141212142461         1     75     19      1      0      0      0
31176  20141212142462         1     33     18      2      0      0      0
31177  20141212142462         2     37     20      1      0      0      0
31178  20141212142462         3      1     22      1      0      0      0
31179  20141212142470         1     37     18      2      0      0      0
31180  20141212142470         2     15     22      2      0      0      0
31181  20141212142470         3     24     22      1     43      0      0
31182  20141212142472         1     28     19      1      0      0      0
31183  20141212142476         1     57     18      1      0      0      0
31184  20141212142476         2     50     20      2      0      0      0
31185  20141212142476         3     23     22      2      0      0      0
31186  20141212142476         4     19     22      1      0      0      0
31187  20141212142480         1     57     18      2      0      0      0
31188  20141212142480         2     57     20      1      0      0      0
31189  20141212142480         3     16     22      1      0      0      0
31190  20141212142484         1     23     18      1      0      0      0
31191  20141212142484         2     51     24      1      0      0      0
31192  20141212142484         3     49     24      2      0      0      0
31193  20141212142484         4     19     25      1      0      0      0
31194  20141212142484         5     12     25      2      0      0      0
31195  20141212142500         1     30     18      2      0      0      0
31196  20141212142500         2     31     20      1      0      0      0
31197  20141212142500         3      6     22      2      0      0      0
31198  20141212142500         4      3     22      1      0      0      0

[31199 rows x 8 columns]

In [158]:
activity = pd.read_csv('data/atusact_2014.dat')
activity

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUCUMDUR24,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20140101140007,1,-1,0,0,0,-1,0,-1,0,...,540,-1,04:00:00,13:00:00,1,1,1,10101,101,0
1,20140101140007,2,1,0,0,0,-1,0,-1,0,...,570,-1,13:00:00,13:30:00,3,1,1,30101,301,0
2,20140101140007,3,-1,60,60,0,-1,60,-1,60,...,630,-1,13:30:00,14:30:00,1,2,1,10201,102,0
3,20140101140007,4,13,10,10,0,-1,10,-1,10,...,640,-1,14:30:00,14:40:00,18,11,1,181101,1811,0
4,20140101140007,5,4,30,30,0,-1,30,-1,30,...,670,-1,14:40:00,15:10:00,11,1,1,110101,1101,0
5,20140101140007,6,13,20,20,0,-1,20,-1,20,...,690,-1,15:10:00,15:30:00,18,13,1,181301,1813,0
6,20140101140007,7,9,30,30,0,-1,30,-1,30,...,780,-1,15:30:00,17:00:00,13,1,16,130116,1301,0
7,20140101140007,8,13,0,0,0,-1,0,-1,0,...,805,-1,17:00:00,17:25:00,18,13,1,181301,1813,0
8,20140101140007,9,1,0,0,0,-1,0,-1,0,...,835,-1,17:25:00,17:55:00,12,3,3,120303,1203,0
9,20140101140007,10,-1,0,0,0,-1,0,-1,0,...,1440,-1,17:55:00,06:00:00,1,1,1,10101,101,0
10,20140101140011,1,-1,0,-1,0,-1,-1,-1,-1,...,150,-1,04:00:00,06:30:00,1,1,1,10101,101,0
11,20140101140011,2,-1,0,-1,0,-1,-1,-1,-1,...,180,-1,06:30:00,07:00:00,1,2,1,10201,102,0
12,20140101140011,3,13,0,-1,0,-1,-1,-1,-1,...,210,-1,07:00:00,07:30:00,18,5,1,180501,1805,0
13,20140101140011,4,2,0,-1,0,-1,-1,-1,-1,...,570,-1,07:30:00,13:30:00,5,1,1,50101,501,0
14,20140101140011,5,2,0,-1,0,-1,-1,-1,-1,...,585,-1,13:30:00,13:45:00,11,1,1,110101,1101,0
15,20140101140011,6,2,0,-1,0,-1,-1,-1,-1,...,690,-1,13:45:00,15:30:00,5,1,1,50101,501,0
16,20140101140011,7,15,0,-1,0,-1,-1,-1,-1,...,710,-1,15:30:00,15:50:00,18,5,1,180501,1805,0
17,20140101140011,8,16,0,-1,0,-1,-1,-1,-1,...,750,-1,15:50:00,16:30:00,18,5,1,180501,1805,0
18,20140101140011,9,-1,0,-1,0,-1,-1,-1,-1,...,870,-1,16:30:00,18:30:00,1,1,1,10101,101,0
19,20140101140011,10,1,0,-1,0,-1,-1,-1,-1,...,890,-1,18:30:00,18:50:00,2,2,1,20201,202,0
20,20140101140011,11,1,0,-1,0,-1,-1,-1,-1,...,950,-1,18:50:00,19:50:00,12,3,3,120303,1203,0
21,20140101140011,12,-1,0,-1,0,-1,-1,-1,-1,...,980,-1,19:50:00,20:20:00,1,2,1,10201,102,0
22,20140101140011,13,1,0,-1,0,-1,-1,-1,-1,...,1020,-1,20:20:00,21:00:00,12,3,8,120308,1203,0
23,20140101140011,14,1,0,-1,0,-1,-1,-1,-1,...,1050,-1,21:00:00,21:30:00,11,1,1,110101,1101,0
24,20140101140011,15,1,0,-1,0,-1,-1,-1,-1,...,1110,-1,21:30:00,22:30:00,12,1,1,120101,1201,0
25,20140101140011,16,1,0,-1,0,-1,-1,-1,-1,...,1130,-1,22:30:00,22:50:00,2,2,3,20203,202,0
26,20140101140011,17,1,0,-1,0,-1,-1,-1,-1,...,1170,-1,22:50:00,23:30:00,12,3,3,120303,1203,0
27,20140101140011,18,-1,0,-1,0,-1,-1,-1,-1,...,1440,-1,23:30:00,06:30:00,1,1,1,10101,101,0
28,20140101140028,1,-1,0,0,0,-1,0,0,-1,...,45,-1,04:00:00,04:45:00,1,2,1,10201,102,0
29,20140101140028,2,-1,0,0,0,-1,0,0,-1,...,360,-1,04:45:00,10:00:00,1,1,1,10101,101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223219,20141212142484,5,12,0,0,0,-1,0,0,-1,...,690,-1,14:30:00,15:30:00,18,11,1,181101,1811,0
223220,20141212142484,6,4,0,0,0,-1,0,0,-1,...,810,-1,15:30:00,17:30:00,11,1,1,110101,1101,0
223221,20141212142484,7,12,0,0,0,-1,0,0,-1,...,840,-1,17:30:00,18:00:00,18,13,2,181302,1813,0
223222,20141212142484,8,11,0,0,0,-1,0,0,-1,...,1110,-1,18:00:00,22:30:00,13,2,3,130203,1302,0
223223,20141212142484,9,9,0,0,0,-1,0,0,-1,...,1120,-1,22:30:00,22:40:00,18,11,1,181101,1811,0
223224,20141212142484,10,4,0,0,0,-1,0,0,-1,...,1240,-1,22:40:00,00:40:00,11,1,1,110101,1101,0
223225,20141212142484,11,9,0,0,0,-1,0,0,-1,...,1250,-1,00:40:00,00:50:00,18,4,5,180405,1804,0
223226,20141212142484,12,12,0,0,0,-1,0,0,-1,...,1280,-1,00:50:00,01:20:00,18,4,5,180405,1804,0
223227,20141212142484,13,3,0,0,0,-1,0,0,-1,...,1295,-1,01:20:00,01:35:00,4,5,7,40507,405,0
223228,20141212142484,14,12,0,0,0,-1,0,0,-1,...,1310,-1,01:35:00,01:50:00,18,4,5,180405,1804,0
223229,20141212142484,15,-1,0,0,0,-1,0,0,-1,...,1330,-1,01:50:00,02:10:00,1,2,1,10201,102,0
223230,20141212142484,16,-1,0,0,0,-1,0,0,-1,...,1440,-1,02:10:00,06:30:00,1,1,1,10101,101,0
223231,20141212142500,1,-1,0,0,0,-1,0,-1,0,...,180,-1,04:00:00,07:00:00,1,1,1,10101,101,0
223232,20141212142500,2,1,30,30,0,-1,30,-1,30,...,210,-1,07:00:00,07:30:00,11,1,1,110101,1101,0
223233,20141212142500,3,-1,45,45,0,-1,45,-1,45,...,255,-1,07:30:00,08:15:00,1,2,1,10201,102,0
223234,20141212142500,4,13,15,15,0,-1,15,-1,15,...,270,-1,08:15:00,08:30:00,18,14,1,181401,1814,0
223235,20141212142500,5,5,135,135,0,-1,135,-1,135,...,405,-1,08:30:00,10:45:00,14,1,1,140101,1401,0
223236,20141212142500,6,13,15,15,0,-1,15,-1,15,...,420,-1,10:45:00,11:00:00,18,14,1,181401,1814,0
223237,20141212142500,7,1,30,30,0,-1,30,-1,30,...,450,-1,11:00:00,11:30:00,11,1,1,110101,1101,0
223238,20141212142500,8,1,150,150,0,-1,150,-1,150,...,600,-1,11:30:00,14:00:00,12,3,3,120303,1203,0
223239,20141212142500,9,1,60,60,0,-1,60,-1,60,...,660,-1,14:00:00,15:00:00,2,1,1,20101,201,0
223240,20141212142500,10,1,60,60,0,-1,60,-1,60,...,720,-1,15:00:00,16:00:00,2,3,1,20301,203,0
223241,20141212142500,11,1,0,0,0,-1,0,-1,0,...,780,-1,16:00:00,17:00:00,3,1,3,30103,301,0
223242,20141212142500,12,1,60,60,0,-1,60,-1,60,...,840,-1,17:00:00,18:00:00,12,1,1,120101,1201,0
223243,20141212142500,13,1,60,60,0,-1,60,-1,60,...,900,-1,18:00:00,19:00:00,11,1,1,110101,1101,0
223244,20141212142500,14,1,60,60,0,-1,60,-1,60,...,960,-1,19:00:00,20:00:00,12,1,1,120101,1201,0
223245,20141212142500,15,1,0,0,0,-1,0,-1,0,...,990,-1,20:00:00,20:30:00,3,1,1,30101,301,0
223246,20141212142500,16,1,0,0,0,-1,0,-1,0,...,1020,-1,20:30:00,21:00:00,2,2,3,20203,202,0
223247,20141212142500,17,1,0,0,0,-1,0,-1,0,...,1080,-1,21:00:00,22:00:00,12,3,3,120303,1203,0
223248,20141212142500,18,-1,0,0,0,-1,0,-1,0,...,1440,-1,22:00:00,07:45:00,1,1,1,10101,101,0

In [159]:
who = pd.read_csv('data/atuswho_2014.dat')
who

              TUCASEID  TUACTIVITY_N  TRWHONA  TULINENO  TUWHO_CODE
0       20140101140007             1        1        -1          -1
1       20140101140007             2        0         3          22
2       20140101140007             3        1        -1          -1
3       20140101140007             4        0         2          21
4       20140101140007             4        0         3          22
5       20140101140007             5        0         2          21
6       20140101140007             5        0         3          22
7       20140101140007             6        0         2          21
8       20140101140007             6        0         3          22
9       20140101140007             7        0         2          21
10      20140101140007             7        0         3          22
11      20140101140007             8        0         2          21
12      20140101140007             8        0         3          22
13      20140101140007             9        0         2          21
14      20140101140007             9        0         3          22
15      20140101140007            10        1        -1          -1
16      20140101140011             1        1        -1          -1
17      20140101140011             2        1        -1          -1
18      20140101140011             3        0         2          24
19      20140101140011             4        0        -1          61
20      20140101140011             5        0        -1          61
21      20140101140011             6        0        -1          61
22      20140101140011             7        0         1          18
23      20140101140011             8        0         1          18
24      20140101140011             9        1        -1          -1
25      20140101140011            10        0         1          18
26      20140101140011            11        0         1          18
27      20140101140011            12        1        -1          -1
28      20140101140011            13        0         1          18
29      20140101140011            14        0         2          24
...                ...           ...      ...       ...         ...
287420  20141212142500             8        0         2          20
287421  20141212142500             8        0         3          22
287422  20141212142500             8        0         4          22
287423  20141212142500             9        0         2          20
287424  20141212142500             9        0         3          22
287425  20141212142500             9        0         4          22
287426  20141212142500            10        0         2          20
287427  20141212142500            10        0         3          22
287428  20141212142500            10        0         4          22
287429  20141212142500            11        0         2          20
287430  20141212142500            11        0         3          22
287431  20141212142500            11        0         4          22
287432  20141212142500            12        0        -1          54
287433  20141212142500            12        0         2          20
287434  20141212142500            12        0         3          22
287435  20141212142500            12        0         4          22
287436  20141212142500            13        0        -1          51
287437  20141212142500            13        0         2          20
287438  20141212142500            13        0         3          22
287439  20141212142500            13        0         4          22
287440  20141212142500            14        0        -1          54
287441  20141212142500            14        0         2          20
287442  20141212142500            14        0         3          22
287443  20141212142500            14        0         4          22
287444  20141212142500            15        0         2          20
287445  20141212142500            15        0         3          22
287446  20141212142500            15        0         4          22
287447  20141212142500            16        0         2          20
287448  20141212142500            17        0         2          20
287449  20141212142500            18        1        -1          -1

[287450 rows x 5 columns]

In [160]:
eldercare = pd.read_csv('data/atusrostec_2014.dat')
eldercare.head(2)

,TUCASEID,TEAGE_EC,TEELDUR,TEELWHO,TEELYRS,TRELHH,TUECLNO,TULINENO,TXAGE_EC,TXELDUR,TXELWHO,TXELYRS
0,20140101140168,77,2,48,-1,0,3,-1,0,0,0,-1
1,20140101140559,73,4,47,10,0,4,-1,0,0,0,0

In [161]:
activity_summary = pd.read_csv('data/atussum_2014.dat')
activity_summary.head(2)

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4.891316e+06,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,2.314737e+07,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [162]:
activity_summary.drop(activity_summary.columns[1], axis=1, inplace=True)
activity_summary = activity_summary.rename(columns={'tucaseid': 'TUCASEID'})
activity_summary.head(3)

,TUCASEID,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,TEMJOT,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,0,20,2,39,1,1,1,4,-1,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,16,16,2,37,2,2,1,1,2,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,2,65,2,38,1,1,1,5,-1,...,0,0,0,0,0,0,0,0,0,0

In [163]:
def get_mbs_activities(i):
    col_names = []
    col_names.append('TUCASEID')
    col_names.append('TRYHHCHILD')
    col_names.append('TEAGE')
    col_names.append('TESEX')
    col_names.append('PEEDUCA')
    col_names.append('PTDTRACE')
    for x in i.columns:
        if x.startswith(('t0102', 't0103', 't1301', 't06', 't14', 't15')):
            col_names.append(x)
    return col_names

In [166]:
col_names = get_mbs_activities(activity_summary)

In [170]:
mind_body_spirit = activity_summary[col_names].copy()
mind_body_spirit.head()

,TUCASEID,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,t010201,t010299,t010301,t010399,...,t150301,t150302,t150401,t150402,t150499,t150501,t150601,t150602,t150701,t159999
0,20140101140007,0,20,2,39,1,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,16,16,2,37,2,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,2,65,2,38,1,90,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,-1,50,2,39,2,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,8,23,2,39,2,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0